# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*
/Socket_Erabiltzailea/nbproject/private/
/Socket_Erabiltzailea/build/
/Socket_Erabiltzailea/dist/
/Socket_Zerbitzari/nbproject/private/
/Socket_Zerbitzari/build/
/Socket_Zerbitzari/dist/
